<table class="center">
    <th colspan="8" style="padding-bottom:20px">NCI TARGET CGI Circos Plot Viewer</th>
    <tr>
    [% FOREACH disease_proj IN settings.disease_projs -%]
        <td class="main"><a href="/[% disease_proj %]">[% disease_proj %]</a></td>
    [% END -%]
    </tr>
</table>
