body {
margin-top: 0;
margin-bottom: 25px;
margin-left: auto;
margin-right: auto;
padding: 0;
/* background-color: #ddd;
background-image: url("/images/perldancer-bg.jpg");
background-repeat: no-repeat;
background-position: top left;
*/
background-image:url(http://ocg.cancer.gov/sites/all/themes/ocg/images/bkg-tile.png);
background-repeat:repeat;
text-align: center;
/* font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana"; */
font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
font-size: 18px;
color: #333;
}

h1 {
font-size: 28px;
color: #000;
}

img {
border: 0;
}

a  {
color: black;
text-decoration: none;
padding: 0;
margin: 0;
}

a:hover {
color: darkred;
text-decoration: none;
padding: 0;
margin: 0;
cursor: pointer;
}

a:link a:visited {
color: black;
text-decoration: none;
padding: 0;
margin: 0;
}

table.center {
margin-left: auto; 
margin-right: auto;
text-align: center;
}

th {
font-size: 32px;
padding-top: 10px;
padding-bottom: 20px;
white-space:nowrap;
}

td {
width: 0;
padding-left: 2px;
padding-right: 2px;
padding-bottom: 10px;
margin: 0;
white-space:nowrap;
}

td.selectedbox {
border: 2px darkred solid;
}

td.transparentbox {
border: 2px solid transparent;
}

#page {
background-color: #ddd;
width: 750px;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#content {
background-color: white;
border: 3px solid #aaa;
border-top: none;
padding: 25px;
width: 500px;
}

#sidebar {
float: right;
width: 175px;
}

#header, #about, #getting-started {
padding-left: 75px;
padding-right: 30px;
}


#header {
background-image: url("/images/perldancer.jpg");
background-repeat: no-repeat;
background-position: top left;
height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}

#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#about-content {
background-color: #ffd;
border: 1px solid #fc0;
margin-left: -11px;
}
#about-content table {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
border-collapse: collapse;
}
#about-content td {
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
background-color: #fcc;
border: 1px solid #f00;
}
#about-content.failure p {
margin: 0;
padding: 10px;
}

#getting-started {
border-top: 1px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
#getting-started h1 {
margin: 0;
font-size: 20px;
}
#getting-started h2 {
margin: 0;
font-size: 14px;
font-weight: normal;
color: #333;
margin-bottom: 25px;
}
#getting-started ol {
margin-left: 0;
padding-left: 0;
}
#getting-started li {
font-size: 18px;
color: #888;
margin-bottom: 25px;
}
#getting-started li h2 {
margin: 0;
font-weight: normal;
font-size: 18px;
color: #333;
}
#getting-started li p {
color: #555;
font-size: 13px;
}

#search {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
font-size: 11px;
}
#search input {
font-size: 11px;
margin: 2px;
}
#search-text {width: 170px}

#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
#sidebar li {
list-style-type: none;
}
#sidebar ul.links li {
margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
}

code, tt {
font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
margin-left: auto;
margin-right: auto;
clear: both;
padding-top: 2em;
text-align: center;
font-family: sans-serif;
font-size: 10px;
}

#legend {
text-align: right;
position: fixed;
right: 5px;
}

div.caption {
font-weight: bold;
text-decoration: none;
text-align: center;
padding-top: 2px;
padding-bottom: 5px;
}

div.right {
text-align: right;
}

div.small {
font-size: 14px;
}

div.tiny {
font-size: 12px;
}

div.nodata {
font-weight: bold;
font-style: italic;
font-size: 14px;
text-decoration: none;
text-align: center;
}

@font-face{font-family:'FranklinGothicFSMedRegular';src:url(fontface/FranklinGothic-Med-webfont.eot);src:url(fontface/FranklinGothic-Med-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-Med-webfont.woff) format('woff'),url(fontface/FranklinGothic-Med-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-Med-webfont.svg#FranklinGothicFSMedRegular) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FranklinGothicFSMedCdRegular';src:url(fontface/FranklinGothic-MedCd-webfont.eot);src:url(fontface/FranklinGothic-MedCd-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-MedCd-webfont.woff) format('woff'),url(fontface/FranklinGothic-MedCd-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-MedCd-webfont.svg#FranklinGothicFSMedCdRegular) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FranklinGothicFSMedCdItalic';src:url(fontface/FranklinGothic-MedCdIt-webfont.eot);src:url(fontface/FranklinGothic-MedCdIt-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-MedCdIt-webfont.woff) format('woff'),url(fontface/FranklinGothic-MedCdIt-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-MedCdIt-webfont.svg#FranklinGothicFSMedCdItalic) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FranklinGothicFSMedItalic';src:url(fontface/FranklinGothic-MedIt-webfont.eot);src:url(fontface/FranklinGothic-MedIt-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-MedIt-webfont.woff) format('woff'),url(fontface/FranklinGothic-MedIt-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-MedIt-webfont.svg#FranklinGothicFSMedItalic) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FranklinGothicFSBookRegular';src:url(fontface/FranklinGothic-Book-webfont.eot);src:url(fontface/FranklinGothic-Book-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-Book-webfont.woff) format('woff'),url(fontface/FranklinGothic-Book-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-Book-webfont.svg#FranklinGothicFSBookRegular) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FranklinGothicFSBookItalic';src:url(fontface/FranklinGothic-BookIt-webfont.eot);src:url(fontface/FranklinGothic-BookIt-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-BookIt-webfont.woff) format('woff'),url(fontface/FranklinGothic-BookIt-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-BookIt-webfont.svg#FranklinGothicFSBookItalic) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FranklinGothicFSBookBold';src:url(fontface/FranklinGothic-Demi-webfont.eot);src:url(fontface/FranklinGothic-Demi-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-Demi-webfont.woff) format('woff'),url(fontface/FranklinGothic-Demi-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-Demi-webfont.svg#FranklinGothicFSBookBold) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FranklinGothicFSCdBold';src:url(fontface/FranklinGothic-DemiCd-webfont.eot);src:url(fontface/FranklinGothic-DemiCd-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-DemiCd-webfont.woff) format('woff'),url(fontface/FranklinGothic-DemiCd-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-DemiCd-webfont.svg#FranklinGothicFSCdBold) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FranklinGothicFSCdRegular';src:url(fontface/FranklinGothic-Cd-webfont.eot);src:url(fontface/FranklinGothic-Cd-webfont.eot?#iefix) format('embedded-opentype'),url(fontface/FranklinGothic-Cd-webfont.woff) format('woff'),url(fontface/FranklinGothic-Cd-webfont.ttf) format('truetype'),url(fontface/FranklinGothic-Cd-webfont.svg#FranklinGothicFSCdRegular) format('svg');font-weight:normal;font-style:normal;}
